body {
  background-image: #f3f3f3;
}

.single-note {
  width: 350px;
  border: #fff solid 1px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.single-note input,
.single-note textarea {
  /* background-color: #96e6a1; */
  border: none;
}

.single-note input:focus,
.single-note textarea:focus {
  outline: none;
}
